
.foto {
  float: right;
}
.name {
  float: left;
  margin-left:  50px;
  margin-right: 20px;
}
.left-line {
  background-color: #99e0eb;
  float: left;
  color: #99e0eb;
  height: 100vh;
}
body {
  max-width: 800px;
  background-image: url(/assets/images/blue.jpeg);
  background-repeat: no-repeat;
  background-size: 3% 100%;
}
a:link {
  color: #000000; 
  text-decoration: none;
}
.main {
  display: inline-block;
  width: 100%;
}

.contacts {
  margin-left:  50px;
  text-align: left;
}
.exp {
  margin-left:  50px;
}
.education {
  margin-left:  50px;
}
.skills {
  margin-left:  50px;
}
.lang {
  margin-left:  50px;
}
.self {
  margin-left:  50px;
}
.leftstr, .rightstr {
  float: left; /* Обтекание справа */ 
  width: 50%; /* Ширина текстового блока */ 
 }
 .rightstr {
  text-align: right; /* Выравнивание по правому краю */ 
 }